{#
/**
 * @file
 * Template that wraps content in HTML <pre> tags.
 *
 * Available variables:
 * - content: The content to wrap.
 *
 * @ingroup themeable
 */
#}
    <div class="islandora_whole_object_content"><pre>{{ content }}</pre></div>
